html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  font-family: 'Roboto', 'Arial', sans-serif;
}


.programs-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh; /* Takes full viewport height */
  box-sizing: border-box; 
}

.category-section {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.category-section h2 {
  font-size: 1.5rem;
  color: #2B3C5E;
  margin-bottom: 20px;
  text-align: center;
}

.program-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 100%;
  max-width: 100%; 
  box-sizing: border-box;
}

.program-card {
  background-color: #d3d7db;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 600px;
  margin-bottom: 20px;
  transition: transform 0.3s ease, max-height 0.3s ease;
  cursor: pointer;
  overflow: hidden;
  text-align: left;
}

.program-card.active {
  min-height: 350px;
}

.program-card:hover {
  transform: translateY(-10px);
}

.program-card h3 {
  font-size: 1.2rem;
  color: #34405E;
  margin-bottom: 10px;
  width: 100%;
}

.program-card p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 10px;
}

.program-card strong {
  color: #2B3C5E;
}

.program-details {
  opacity: 0;
  max-height: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.program-card.active .program-details {
  max-height: 200px;
  opacity: 1;
}

@media (min-width: 768px) {
  .program-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    justify-content: center;
  }
}
